.star-wars-text {
  font-size: 28px;
  font-family: 'Arial', sans-serif;
  letter-spacing: 2px;
  color: yellow;
  text-shadow: 1px 1px 2px #000;
}

.characters {
  width: 700px;
  height: 400px;
  justify-content: center;
  margin-left:530px;

}
