.navbar {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  padding: 10px;
  justify-content: center;

}

.nav-item {
  margin: 0; /* Elimina los márgenes predeterminados */
  text-align: center;

}

.nav-item:hover {
  border-color: transparent;
}

.nav-link {
  color: yellow;
}

.nav-link.active {
  border-bottom: 2px solid blue;
}

/* Agrega un borde izquierdo para "HOME" */
.nav-item:first-child .nav-link {
  border-left: 1px solid #ccc;
  padding-left: 10px;
  margin-top: 5px; /* Margen superior */
  margin-bottom: 5px; /* Margen inferior */
}

/* Agrega un borde derecho para "STARSHIPS" */
.nav-item:last-child .nav-link {
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-top: 5px; /* Margen superior */
  margin-bottom: 5px; /* Margen inferior */
}
