.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 20px;
  color: white;
}

.starship-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.starship-details img {
  max-width: 100%;
  margin: 10px 0;
}

ul {
  list-style: none;
}

.starship-details {
  text-transform: uppercase;
}


ul li strong {
  font-weight: bold;
}

.details-1 {
  margin: 10px 0;
  align-items: flex-start;
}

.details-2-and-3 {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.details-2,
.details-3 {
  flex-basis: calc(50% - 30px);
  padding: 30px;
  align-items: flex-start;
}
.charging-details {
  text-align: left; 
  margin-left: 20px;
  padding: 10px;
}
